# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
env/
venv/

# Ignore config.py with sensitive data
core/config.py
summary/

# Ignore IDE/editor specific files
*.idea/
*.vscode/
*.swp

# Ignore other OS-specific files
.DS_Store
Thumbs.db